In [1]:
import numpy as np
from detection_dataset import Converter

In [2]:
read_config = {
    'dataset_format': 'coco',
    'path': '/Users/jeromeblin/self/blinjrm/detection-dataset/data/raw',
    'splits': {
        'train': ('train.json', 'train'),
        'test': ('test.json', 'test'),
    },
}

converter = Converter()
converter.read(**read_config)
converter.dataset.data.head(1)

,image_id,bbox_id,category_id,category,supercategory,bbox,width,height,area,image_name,image_path,split
0,16305,0,32,pocket,garment parts,<detection_dataset.bbox.Bbox object at 0x11fd3...,680,1024,3052,2f10b4d61e445fe5d0777723630a2905.jpg,/Users/jeromeblin/self/blinjrm/detection-datas...,train

In [3]:
mapping = converter.dataset.categories.copy()
mapping['new_category'] = ""
mapping['new_category_id'] = ""

# Clothing
mapping.loc[mapping.category_id.isin(range(13)), 'new_category'] = 'clothing'
mapping.loc[mapping.category_id.isin(range(13)), 'new_category_id'] = 1

# Accessories
mapping.loc[mapping.category_id.isin(range(13, 27)), 'new_category'] = 'accessories'
mapping.loc[mapping.category_id.isin(range(13, 27)), 'new_category_id'] = 3

# Shoes
mapping.loc[mapping.category_id == 23, 'new_category'] = "shoes"
mapping.loc[mapping.category_id == 23, 'new_category_id'] = 2

# Other - to be dropped
mapping.loc[mapping.category_id.isin(range(27, 46)), 'new_category'] = 'details'
mapping.loc[mapping.category_id.isin(range(27, 46)), 'new_category_id'] = -1

mapping = mapping[mapping.loc[:, 'new_category_id'] > 0]

mapping

,category_id,category,supercategory,new_category,new_category_id
0,0,"shirt, blouse",upperbody,clothing,1
1,1,"top, t-shirt, sweatshirt",upperbody,clothing,1
2,2,sweater,upperbody,clothing,1
3,3,cardigan,upperbody,clothing,1
4,4,jacket,upperbody,clothing,1
5,5,vest,upperbody,clothing,1
6,6,pants,lowerbody,clothing,1
7,7,shorts,lowerbody,clothing,1
8,8,skirt,lowerbody,clothing,1
9,9,coat,wholebody,clothing,1
10,10,dress,wholebody,clothing,1
11,11,jumpsuit,wholebody,clothing,1
12,12,cape,wholebody,clothing,1
13,13,glasses,head,accessories,3
14,14,hat,head,accessories,3
15,15,"headband, head covering, hair accessory",head,accessories,3
16,16,tie,neck,accessories,3
17,17,glove,arms and hands,accessories,3
18,18,watch,arms and hands,accessories,3
19,19,belt,waist,accessories,3
20,20,leg warmer,legs and feet,accessories,3
21,21,"tights, stockings",legs and feet,accessories,3
22,22,sock,legs and feet,accessories,3
23,23,shoe,legs and feet,shoes,2
24,24,"bag, wallet",others,accessories,3
25,25,scarf,others,accessories,3
26,26,umbrella,others,accessories,3

In [4]:
converter.transform(category_mapping = mapping)

Index(['image_id', 'bbox_id', 'category_id_original', 'category_original',
       'supercategory', 'bbox', 'width', 'height', 'area', 'image_name',
       'image_path', 'split', 'category_id', 'category'],
      dtype='object')

In [5]:
converter.dataset.class_names

array(['clothing', 'shoes', 'accessories'], dtype=object)

In [6]:
write_config = {
    'dataset_format': 'yolo',
    'path': '/Users/jeromeblin/self/blinjrm/detection-dataset/data/',
    'name': 'yolo_test',
    'n_images': 10,
    'splits': (0.8, 0.1, 0.1),
}

converter.write(**write_config)
converter.writer.final_data.sort_values('image_id').head(1)

,image_id,bbox_id,category_id,bbox,width,height,area,image_name,image_path,split
1012,1083,"[163625, 163626, 163627, 163631, 163638, 16363...","[3, 1, 3, 1, 1, 2, 2]","[[0.45339652448657186, 0.4443359375, 0.0205371...",633,1024,"[102, 4427, 2575, 60754, 41148, 3143, 2801]",0fbe2264711709d20ae06107f1663715.jpg,/Users/jeromeblin/self/blinjrm/detection-datas...,train